@import "../../node_modules/bootstrap/scss/functions";
@import "variables";
@import "variables-dark";
@import "../../node_modules/bootstrap/scss/maps";
@import "../../node_modules/bootstrap/scss/mixins";
@import "../../node_modules/bootstrap/scss/bootstrap";

.page-break {
    page-break-after: always;
}

@media not print {
    #print-only {
        display: none;
    }
}

@media print {
    body {
        font-size: 16px;
    }

    .shadow {
        box-shadow: none !important;
    }

    #print-only {
        margin: 0;
    }

    .list-group {
        border: 0 !important;
        &-item {
            border: 0 !important;
        }
    }

    .accordion {
        &, &-item, &-button, &-header {
            border: 0 !important;
        }

        &-button, &-body {
            padding: 0;
        }

        &-button {
            margin-bottom: 0.5rem;
        }
    }

    .list-group-item {
        padding-left: 0;
        padding-right: 0;
        & & {
            padding: 0;
        }
    }

    #hard-skills-main, #soft-skills-main {
        display: none;
    }
}

